*{
    padding: 0;
    margin: 0;
}

body{
    margin: auto;
    width: fit-content;
    padding: 8px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    max-width: 500px;
}

.secondbutton {
    padding: 7px 25px;
    background: #AD0000;
    /* mix-blend-mode: normal; */
    width: fit-content;
    margin-left: auto;
}

.sign{
    color: white;
    text-decoration: none;
}