*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 300px;
    margin: auto;
    padding-top: 200px;
}
.ster{
    width: fit-content;
    margin: auto;
}
.reg{
    background-color: rgba(3, 6, 77, 1);
    text-align: center;
    color: white;
    padding: 10px 30px;
    width: 220px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    /* margin: auto; */
}
small {
    font-size: 12px;
    text-align: justify;
}
.sis{
    padding-top: 200px;
    font-size: 40px;
    color: rgb(164, 161, 161);
    /* text-align: center; */
    margin-left: 10px;
}



